header{
    width: 100vw;
    height: 100vh;
    background-image: url("starlinkstreak_desktop.jpg");
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: space-between;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;

}
.logo{
    width: 150px;
    opacity: .3;
}

.links{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: white;
    font-size: 20px;
}

.content1{
    margin-bottom: 100px;
    margin-left: 120px;
    width: 3000px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
}

button{
    border: 1px solid white;
    background-color: transparent;
    height: 50px;
    width: 160px;
    color: white;
    font-weight: bold;
}
button:hover{
    color: black;
    background-color: white;
}

.section1{
    width: 100vw;
    height: 100vh;
    background-image: url("gps3_launch_desktop_02.jpg");
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: space-between;
}

#content2  {
    margin-top: 350px;
    width: 800px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.section2 {
    width: 100vw;
    height: 100vh;
    background-image: url("https://media.discordapp.net/attachments/727541480243331142/732359453621485609/home_demo2.jpg?width=1443&height=666") ;
    background-size: cover;
    position: absolute;
}

.content3 {
    width: 1000px;
    height: 230px;
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 90px;
   margin-top: 400px;
}
.section3 {
    width: 100vw;
    height: 85vh;
    background-image: url(https://www.spacex.com/media/iss_docking_sim.mp4);
    background-color: black;
}

.content4{
    width: 500px

}